#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: white;
}

.category-section-title {
  font-size: 3rem;
  font-weight: 700;
  margin: 15;
  line-height: 1;
  border: 8px groove #1C6EA4;
}

.button-item {
  font-size: 3rem;
  font-weight: 700;
  max-width: 1066px;
  margin: 5 auto;
  border:rgb(20, 78, 117);
  border-radius: 5rem;
}

.myButton {
  color: rgb(255, 255, 255); 
  font-size: 4rem; line-height: 5rem; padding: 1rem; border-radius: 3rem; font-family:  'Source Sans 3', sans-serif; font-weight: 700; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 6px groove rgb(28, 110, 164); display: inline-block;}
  .myButton:hover {
  background: #1C6EA4; }
  .myButton:active {
  background: #144E75; }

.page-section-item {
  font-size: 2rem;
  max-width: 1066px;
  margin: 5 auto;
  border: 6px groove #1C6EA4;
}


.page-section-inner {
  font-size: 4rem;
  max-width: 1066px;
  margin: 5 auto;
}

.page-section-title {
  font-size: 4rem;
  margin: 15;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans 3', sans-serif;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

