#root {
  max-width: 500px;
  margin: 50px;
  padding: 10px;
  text-align: center;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #F1F1F1;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav {
  overflow: hidden;
  background-color: #F1F1F1;
}

/* question and category nav links */
.button-nav a {
  font-size: medium;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.button-nav a:hover {
  background-color: #ddd;
  color: black;
}

.button-nav {
  overflow: hidden;
  background-color: #F1F1F1;
}

.right {
  float: right;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}

.left {
  float: left;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}

.center {
  margin: auto;
  width: 300px;
  text-align: center;
  border: 3px;
  padding: 10px;
}


body {
  margin: 0;
  padding: 160px 500px;
  background-color: white;
}


.category-section-title {
  font-size: 3rem;
  font-weight: 700;
  margin: 15px;
  line-height: 1;
  border: 8px groove #1C6EA4;
}

.button {
  font-size: 2rem;
  font-weight: 700;
  max-width: 1066px;
  margin: 5px;
  border:rgb(20, 78, 117);
  border-radius: 5rem;
}

.button:hover {
  box-shadow: 0 5px 0 0 #5664a7;
}

.button:active {
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.page-section-item {
  font-size: 2rem;
  text-align: center;
  max-width: 1066px;
  margin: 5px;
  border: 6px groove #1C6EA4;
}

.page-section-inner {
  font-size: 2rem;
  max-width: 1066px;
  margin: 5px;
}

.page-section-inner-bold {
  font-size: 2rem;
  font-weight:700;
  max-width: 1066px;
  margin: 5px;
}

.page-section-title {
  font-size: 4rem;
  margin: 15px;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans 3', sans-serif;
}

.container {
  display: flex;
  text-align: center;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 5px 10px gray;
  border-radius: 15px;
  padding: 3%;
}

.card {
  padding-top: 10px;
  padding-bottom: 30px;
}

.read-the-docs {
  color: #888;
}

.parent {
  display: flex;
  height: 200px;
}

.child {
  width: 100px;
  height: 100px;
  margin: auto;
}

.flex-container {
  flex-flow: row wrap;
  justify-content: space-around;
}
